/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300&family=Schibsted+Grotesk:ital,wght@0,400;0,700;1,400&display=swap');

/* Asterisk wildcard selector to override default styles added by browser - copied from the Code Institute's Love Running project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles - based on the Code Institute's Love Running project */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: 'Schibsted Grotesk', sans-serif;
    color: #101C24;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 5px 5px #4A1861;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1, h2 {
    font-family: 'Libre Franklin', sans-serif;
    text-transform: uppercase;
    color: #4A1861;
    font-size: 130%;
}

h3 {
    font-family: 'Libre Franklin', sans-serif;
    text-transform: lowercase;
    color: #4A1861;
    font-size: 100%;
}

#menu {
    list-style-type: none;
    font-size: 110%;
    margin-top: 1em;
}

#menu>li {
    margin-bottom: 2em;
}

.dropdown-content {
    list-style-type: none;
}

.active {
    font-weight: bold;
}

/* Nav bar styles from Love Running */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 5px 5px #4A1861;
    display: none;
    top: 100%;
}

/* Nav toggle from Love Running */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #4A1861;
}


/* Hiding class, making content visible to screen-readers but not visually 
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
*/


/* Main content */
main {
    flex: 1 0 auto;
    margin-top: 60px;
    margin-bottom: 52px;
    padding-bottom: 20px;
    /* Make display flex to help style contact page */
    display: flex;
    flex-direction: column;
}

#hero {
    height: 600px;
    width: 100%;
    background: url('../images/yoga-mats-1920.webp') no-repeat center center / cover;
    position: relative;
    margin-bottom: 10px;
}

/* Cover text for hero image - based on Love Running */
#cover-text {
    background-color: rgba(252, 242, 255, 0.8);
    font-size: 130%;
    position: absolute;
    top: 50px;
    right: 0;
    width: 70%;
    min-height: 120px;
    padding: 20px 20px;
}

/* From Love Running, styling for the entire section - will be the same on the choose-mat and thank-you page */
#mat-types {
    width: 90%;
    margin: 20px auto;
}

#mat-types h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 110%;
}

#thickness > div, #materials > div {
    line-height: 20px;
    margin-bottom: 20px;
}

/* Bold text in paragraphs */
.bold {
    font-weight: bold;
}

/* Yoga-grey image on mobile devices - home */
#yoga-grey img, #woman-mat img {
    width: 100%;
    margin-bottom: 20px;
}

/* Choose-mat page */
#choose-mat {
    width: 90%;
    margin: 20px auto;
}

#choose-mat > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#top-div {
    margin-top: 15px;
}

#questions-list {
    margin-left: 20px;
}

/* Table styling - still needs to grow on mobile so it fills the space */
#comparison-table {
    display: flex;
}

table {
    font-size: 50%;
    text-indent: 0%;
    flex-grow: 1;
    flex-shrink: 1;
    margin-bottom: 20px;
    color: #101C24;
}

thead th {
    text-decoration: underline;
}

th {
    text-align: center;
    padding: 2px 5px;
    line-height: 12px;
}

.th-left {
    text-align: left;
}

td {
    text-align: center;
    line-height: 12px;
}

table i {
    font-size: 170%;
}

.green {
    color: #79DE79;
}

.yellow {
    color: #FCE883;
}

.red {
    color: #FB6962;
}

/* Video - embedded from YouTube */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Contact page - based on Love Running sign-up page*/
#contact {
    background-image: url('../images/green-mat-2560.webp');
    background-size: cover;
    background-position: 75%;
    padding: 15px 5% 5px 5%;
    flex: 1;
}

#contact-form {
    color: #101C24;
    background-color:rgba(252, 242, 255, 0.8);
    padding: 30px;
}

#contact-form > h2 {
    color: #4A1861;
    margin-bottom: 20px;
    text-transform: lowercase;
}

.text-input {
    background: transparent;
    color: #101C24;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #101C24;
    border-radius: 10px;
    padding: 0 5px;
    font-family: 'Schibsted Grotesk', sans-serif;
}

.textarea-input {
    background: transparent;
    color: #101C24;
    width: 100%;
    height: 125px;
    margin: 5px 0 20px 0;
    border: 1px solid #101C24;
    border-radius: 10px;
    padding: 0 5px; 
    font-family: 'Schibsted Grotesk', sans-serif;
}

.submit-button {
    padding: 10px 30px;
    font-size: 100%;
    border-radius: 10px;
    background-color: #4A1861;
    color: #fff;
}

/* Footer */
footer {
    background-color: #ffffff;
    width: 100%;
    /* Make the footer stick to the bottom of the page and be always visible */
    position: fixed;
    bottom: 0;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 130%;
    padding: 2%;
    color: #4A1861;
}

/* Thank you page */
#thank-you-body {
    background-color: rgba(252, 242, 255, 0.8);
}

#thank-you-main {
    width: 90%;
    margin: 100px auto 20px auto;
}

#thank-you-main > div {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#thank-you-main #checkmark {
    text-align: center;
    padding-bottom: 30px;
}

#thank-you-main h2 {
    color: #4A1861;
    margin-bottom: 20px;
    text-transform: lowercase;
    padding: 30px 0;
}

#thank-you-main i {
    font-size: 800%;
    color: #4A1861;
}

a {
    color: #4A1861;
}

/* 404 page */
#error-body {
    background-color: rgba(252, 242, 255, 0.8);
}

#error-main {
    width: 90%;
    margin: 100px auto 20px auto;
}

#error-main>div {
    line-height: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#error-main #error-icon {
    text-align: center;
    padding-bottom: 30px;
}

#error-main h2 {
    color: #4A1861;
    margin-bottom: 20px;
    text-transform: lowercase;
    padding: 30px 0;
    font-size: 200%;
}

#error-main i {
    font-size: 800%;
    color: #4A1861;
}

a {
    color: #4A1861;
}


/* Media queries for responsive design */

/* For tablets and larger */
@media screen and (min-width: 768px) {

    /* Bigger logo */
    #logo {
        font-size: 200%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Nav bar*/
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    /* Main content */
    main {
        margin-top: 120px;
    }

    /* Cover text for hero section */
    #cover-text {
        width: 350px;
        min-height: 200px;
        right: 50px;
        font-size: 200%;
    }

    /* Responsive table on the choose-mat page */
    table {
        flex-grow: 0.5;
        font-size: 90%;
    }

    th, td {
        line-height: 30px;
    }

    /* Contact page - not finished yet */
    #contact {
        background-position: center;
        position: relative;
    }

    #contact-form {
        position: absolute;
        right: 10%;
        top: 150px;
        max-width: 600px;
    }

    /* Thank you page */
    #thank-you-main {
        margin: 150px auto 20px auto;
    }

    /* Thank you page */
    #error-main {
        margin: 150px auto 20px auto;
    }
    }

/* For laptops and larger */
@media screen and (min-width: 992px) {
    
    /* Styling for the nav bar */
    #menu a:hover {
        font-weight: bold;
    }

    /* Styling for mat-types div on the home page */
    #mat-types {
        column-count: 2;
        column-gap: 50px;
    }

    /* Styling for choose-mat div on the choose-mat page */
    #choose-mat {
        max-width: 800px;
    }

    .video-container > iframe {
        max-width: 800px;
    }

    /* Contact page - hover - not finished yet, revisit */
    .text-input:hover, .textarea-input:hover {
        border-color: #B4B535;
    }

    .submit-button:hover {
        background-color: #B4B535;
        color: #101C24;;
    }

    /* Contact-form */
    #contact-form {
        top: 5vh;
    }

    /* Thank you page */
    /* Larger top-margin so that the section is fully visible under the nav bar */
    #thank-you-main {
        margin: 180px auto 20px auto;
    }

    #thank-you-main h2 {
        font-size: 180%;
    }

        /* 404 error page - page not found */
        /* Larger top-margin so that the section is fully visible under the nav bar */
        #error-main {
            margin: 180px auto 20px auto;
        }
    
        #error-main h2 {
            font-size: 180%;
}